<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Увеличение изображения</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container">
        <h1 class="class_1 class_2">static</h1>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>
        <ul>1</ul>


    </div>

</body>

</html>